# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.settings/org.eclipse.jdt.core.prefs
*.class
bin/mcmod.info
*.log
*.bin
.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/2.0/taskArtifacts/cache.properties
bin/changelog.txt
*.prefs
*.tree
eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location
*.launch
*.xml
gradle/wrapper/gradle-wrapper.jar
*.properties
gradlew
gradlew.bat
libs/bop.jar
libs/ruins.jar